{% extends "plantilla/master.html" %}
{% load static %}


{% block contenido %}

    <div id="panel" class="panel">
      <div class="interior">
          <div class="primeraFila row">
              <div class="meses">
                  <h3>Enero</h3>
              </div>
              <div class="meses">
                  <h3>Febrero</h3>
              </div>
              <div class="meses">
                  <h3>Marzo</h3>
              </div>
          </div>
          <br/>
          <div class="segundaFila row">
              <div class="individual">
                  <div class="split">
                      <div class="split-half">
                          <h3>Próxima evaluación</h3>
                          
                          
                      </div>
                       <div class="split-half">
                          <h3> Pendiente </h3>
                      </div>
                  </div>
              </div>
              <div class="individual">
                  <h3>Cantidad de empleados por departamento</h3>
                  <div class="eva2">
                  <div style="height: 162px;">
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
              </div>
              <div class="individual">
                  <h3>Respuestas de mi departamento</h3>
              </div>
          </div>
          <br />
          <div class="terceraFila row">
              <div class="general">
                  <h3>Respuestas por departamento</h3>
              </div>
              <div class="general">
                  <h3>Mejores Calificaciones</h3>
              </div>
              <div class="general">
                  <h3>Faltantes de contestar</h3>
                  <div style="overflow-x:auto;">
                    <table style="width:100%;"  class="tablaNoContestado table  table-success table-striped table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>Departamento</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for evaluacion in evaluaciones %}
                            <tr>
                                {% for departamento in departamentos %}
                                {% if departamento.id == evaluacion.empleado.departamento_id %}
                                <td>{{departamento.nombre}}</td>
                                {% endif %}
                                {% endfor %}
                                <td>{{evaluacion.empleado.nombre}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        
              </div>
          </div>
      </div>
  </div>
 
                  
                  <script>
                    const ctx2 = document.getElementById('myChart');
                    new Chart(ctx2, {
                      type: 'bar',
                      data: {
                        labels: [{% for departamento in departamentos %} '{{departamento.nombre}}', {%endfor%}],
                        datasets: [{
                          label: 'Empleados',
                          data: [{% for item in cantidad %} {{ item.cantidad }}, {% endfor %}],
                          borderWidth: 1,
                          backgroundColor: [
                            'rgba(0, 149, 58, 1)',
                            'rgba(18, 40, 76, 1)',
                            'rgba(18, 196, 88, 1)'
                            ],
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          },
                          x: {
                            display: false // Oculta los labels del eje x
                        }
                        }
                      }
                    });
                  </script> 
  </body>
</html>
{% endblock %}