{% extends "plantilla/master.html" %}
{% load static %}


{% block contenido %}


<div id="titulo" class="titulo">
  <h1>Información</h1>
</div>

        <div class="eva">
            <div class="infoEmp">
                <h1>Nombre </h1>
                <h3> {{empleado.nombre}} {{empleado.apellido_paterno}} {{empleado.apellido_materno}}</h3>
                <h1>Departamento</h1>
                <h3> {{empleado.departamento.nombre}}</h3>
                <h1>Puesto</h1>
                <h3> {{empleado.puesto}}</h3>
                <h1>Correo</h1>
                <h3> {{empleado.correo}}</h3>
                <h1>No. de empleado</h1>
                <h3> {{empleado.no_emp}}</h3>
            </div>
        </div>
        
      </div>
    </div>

    <script>

    </script>


  </body>
</html>
{% endblock %}