{% extends "plantilla/master.html" %}
{% load static %}


{% block contenido %}



    {% comment %} <div id="panel" class="panel">
      <div class="interiorG"> {% endcomment %}
        <div id="titulo" class="titulo" style="display: flex; justify-content: space-between; align-items: center; padding-right: 20px;">
          <h1>Reporte OKR</h1>
          <button class="btn btn-success" 
            style="background-color: #28a745; border: none; padding: 8px; border-radius: 5px; cursor: pointer;" 
            onclick="exportarExcel()">
            <img src="{% static 'img/excel.png' %}" alt="Excel" style="width: 35px; height: 35px;">
          </button>
         </div>
         <div class="eva">
           <table id="tablaReporteOKR" class="tablaReportes table table-striped table-responsive table-bordered">
             <thead>
               <tr style="text-align: center;">
                 {% if no_emp%}
                   <th> No.emp </th>
                 {% endif %}
                 {% if nombre %}
                   <th> Nombre </th>
                 {% endif %}
                 {% if apellidos %}
                   <th> Apellidos </th>
                 {% endif %}
                 {% if departamento %}
                   <th> Departamento </th>
                 {% endif %}
                 {% if mes %}
                   <th> Mes </th>
                 {% endif %}
                 {% if anio %}
                   <th> Año </th>
                 {% endif %}
                 {% if autocalificacion %}
                   <th> Autocalificacion </th>
                 {% endif %}
                 {% if evaluador1 %}
                   <th> Evaluador1 </th>
                 {% endif %}
                 {% if evaluador2 %}
                   <th> Evaluador2 </th>
                 {% endif %}
                 {% if evaluador3 %}
                   <th> Evaluador3 </th>
                 {% endif %}
                 {% if evaluador4 %}
                   <th> Evaluador4 </th>
                 {% endif %}
                 {% if director %}
                   <th> Director </th>
                 {% endif %}
                 <th>Calificación dada por el lider</th>
                 {% if bempleado %}
                   <th> Bono empleado </th>
                 {% endif %}
                 {% if bjefe %}
                   <th> Bono jefe </th>
                 {% endif %}
                 {% if evaluadores %}
                 <th> Evaluadores </th>
                 {% endif %}
                 {% if comentariosGenerales%}
                 <th> Comentario generales </th>
                 {% endif %}
               </tr>
             <thead>
               <tbody style="text-align: center;">
                 {% for dat in datos %}
                 <tr>
                   <td> {{ dat.empleado_id }} </td>
                   {% comment %} <td> {{ dat.empleado_id }}  {{dat.id}}</td> {% endcomment %}
                   <td>
                   <a href="{% url 'reporteEvaluacionOKR' dat.id %}">
                     {{ dat.empleado.nombre }}
                   </a>
                   </td>
                   
                   {% if apellidos %}
                     <td> {{ dat.empleado.apellido_paterno }} {{ dat.empleado.apellido_materno}} </td>
                   {% endif %}
                   {% if departamento %}
                     <td> {{ dat.empleado.departamento }} </td>
                   {% endif %}
                   {% if mes %}
                     {% if dat.fecha.mes == 1 %}
                         <td> Diciembre</td>
                     {% elif dat.fecha.mes == 2 %}
                         <td> Enero</td>
                     {% elif dat.fecha.mes == 3 %}
                         <td> Febrero </td>
                     {% elif dat.fecha.mes == 4 %}
                         <td> Marzo</td>
                     {% elif dat.fecha.mes == 5 %}
                         <td> Abril </td>
                     {% elif dat.fecha.mes == 6 %}
                         <td> Mayo </td>
                     {% elif dat.fecha.mes == 7 %}
                         <td> Junio </td>
                     {% elif dat.fecha.mes == 8 %}
                         <td> Julio </td>
                     {% elif dat.fecha.mes == 9 %}
                         <td> Agosto </td>
                     {% elif dat.fecha.mes == 10 %}
                         <td> Septiembre </td>
                     {% elif dat.fecha.mes == 11 %}
                         <td> Octubre </td>
                     {% elif dat.fecha.mes == 12 %}
                         <td> Noviembre </td>
                     {% else %}
                         <td>NA</td>
                     {% endif %}
                   {% endif %}
 
                   {% if anio %}
                     {% if dat.fecha.mes == 1 %}
                     <td> {{ dat.fecha.anio|add:"-1" }} </td>
                     {% else %}
                     <td> {{ dat.fecha.anio }} </td>
                     {% endif %}
                   {% endif %}
                    {% if dat.estatus < 3 %}
                   {% if autocalificacion %}
                     <td> - </td>
                   {% endif %}
                   {% if evaluador1 %}
                     <td> - </td>
                   {% endif %}
                   {% if evaluador2 %}
                     <td> - </td>
                   {% endif %}
                   {% if evaluador3 %}
                     <td> - </td>
                   {% endif %}
                   {% if evaluador4 %}
                     <td> - </td>
                   {% endif %}
                   {% if director %}
                     <td> - </td>
                   {% endif %} 
                   <td> - </td>
                    {% else %} 
                     {% if calificaciones %}
                       {% for cal in calificaciones %}
                         {% if cal.evaluacion_id == dat.id %}
                         {% if autocalificacion %}
                           <td> {% if cal.calificacion_autoevaluado == -1 %}  {% else %} {{ cal.calificacion_autoevaluado }} {% endif %} </td>
                         {% endif %}
                         {% if evaluador1 %}
                           <td> {% if cal.calificacion_evaluador1 == -1 %}  {% else %} {{ cal.calificacion_evaluador1 }} {% endif %} </td>
                         {% endif %}
                         {% if evaluador2 %}  
                           <td> {% if cal.calificacion_evaluador2 == -1 %}  {% else %} {{ cal.calificacion_evaluador2 }} {% endif %} </td>
                         {% endif %}
                         {% if evaluador3 %}
                           <td> {% if cal.calificacion_evaluador3 == -1 %}  {% else %} {{ cal.calificacion_evaluador3 }} {% endif %} </td>
                         {% endif %}
                         {% if evaluador4 %}
                           <td> {% if cal.calificacion_evaluador4 == -1 %}  {% else %} {{ cal.calificacion_evaluador4 }} {% endif %} </td>
                         {% endif %}
                         {% if director %}
                           <td> {% if cal.calificacion_director == -1 %}  {% else %} {{ cal.calificacion_director }} {% endif %} </td>
                         {% endif %}
                         {% endif %}
                       {% endfor %}
                      {% endif %}
                      <td>
                          {% if dat.eva_calificacion %}
                              {{ dat.eva_calificacion.calificacion }}
                          {% else %}
                              Sin asignar
                          {% endif %}
                      </td>
                     {% endif %} 
                   {% if bempleado %}
                     <td>
                     {% comment %} {% for bono in calificaciones_objetivos %}   
 
                       {% if bono.evaluacion.id == dat.id and bono.quienCalifica_id == dat.empleado_id%}
                         {{bono.calificacion}}
                       {% endif %}
 
                     {% endfor %} {% endcomment %}
 
                     {% for bono in bonos %}
                       {% if bono.0 == dat.id %}
                           {{ bono.1 }}
                       {% endif %}
                     {% endfor %}
 
                     </td>  
                   {% endif %}
                   {% if bjefe %}
                     <td>
                       {% for bono in bonosJ %}
                       {% if bono.0 == dat.id %}
                           {{ bono.1 }}
                       {% endif %}
                     {% endfor %}
                     </td> 
                   {% endif %}
                   {% if evaluadores %}
                     <td>
                       {{ dat.seguimiento.evaluador1.nombre }} 
                     
                     {% if dat.seguimiento.evaluador2_id != 1 %} <br/> {{ dat.seguimiento.evaluador2.nombre }} {% endif %}
                      
                     {% if dat.seguimiento.evaluador3_id != 1 %} <br/> {{ dat.seguimiento.evaluador3.nombre }}  {% endif %}
                     
                     {% if dat.seguimiento.evaluador4_id != 1 %} <br/>  {{ dat.seguimiento.evaluador4.nombre }} {% endif %}
                   </td>
 
                   {% endif %}
                   {% if comentariosGenerales %}
                     <td>  
                       {% for com in comentarios %}
                         {% if com.evaluacion_id == dat.id%}
                           {% if com.comentario_autoevaluado != ""%}
                             <span> Autoevaluado: {{ com.comentario_autoevaluado }} </span> <br/>
                           {% endif %}
                           {% if com.comentario_evaluador1 != "" %}
                             <span> Evaluador1: {{ com.comentario_evaluador1 }} </span> <br/>
                           {% endif %}
                           {% if com.comentario_evaluador2 != "" %}
                             <span> Evaluador2: {{ com.comentario_evaluador2 }} </span> <br/>
                           {% endif %}
                           {% if com.comentario_evaluador3 != "" %}
                             <span> Evaluador3: {{ com.comentario_evaluador3 }} </span> <br/>
                           {% endif %}
                           {% if com.comentario_evaluador4 != "" %}
                             <span> Evaluador4: {{ com.comentario_evaluador4 }} </span> <br/>
                           {% endif %}
                           {% if com.comentario_director != "" %}
                           <span> Director: {{ com.comentario_director}} </span> <br/>
                           {% endif %}
                           {% if com.comentario_capitalHumano != "" %}
                           <span> CH: {{ com.comentario_capitalHumano}} </span> <br/>
                           {% endif %}
                           {% if com.comentario_calidad != "" %}
                           <span> Calidad: {{ com.comentario_calidad}} </span> <br/>
                           {% endif %}
                           {% if com.logros != "" %}
                           <span> Logros: {{ com.logros}} </span> <br/>
                           {% endif %}
                         {% endif %}
                       {% endfor %}
                     </td>
                   {% endif %}
 
 
                     
                   
                 </tr>
                 {% endfor %}
               </tbody>
           </table>


         
      


     <div id="titulo" class="titulo">
      <h1>Reporte Areas efectividad</h1>
     </div>
       <table id="tablaReporteAreas" class="tablaReportes table table-striped table-responsive table-bordered">
         <thead>
           <tr style="text-align: center;">
             {% if no_emp%}
               <th> No.emp </th>
             {% endif %}
             {% if nombre %}
               <th> Nombre </th>
             {% endif %}
             {% if apellidos %}
               <th> Apellidos </th>
             {% endif %}
             {% if departamento %}
               <th> Departamento </th>
             {% endif %}
             {% if mes %}
               <th> Mes </th>
             {% endif %}
             {% if anio %}
               <th> Año </th>
             {% endif %}
             {% if evaluador1 %}
               <th> Calificacion </th>
             {% endif %}
             <th>Calificación dada por el lider</th>
             {% if evaluadores %}
             <th> Evaluador </th>
             {% endif %}
             {% if comentariosGenerales%}
             <th> Comentario generales </th>
             {% endif %}
           </tr>
         <thead>
           <tbody style="text-align: center;">
             {% for dat in datosareas %}
             <tr>
               <td> {{ dat.empleado_id }} </td>
               {% comment %} <td> {{ dat.empleado_id }}  {{dat.id}}</td> {% endcomment %}
               <td>
               <a href="{% url 'reporteEvaluacion' dat.id %}">
                 {{ dat.empleado.nombre }}
               </a>
               </td>
               
               {% if apellidos %}
                 <td> {{ dat.empleado.apellido_paterno }} {{ dat.empleado.apellido_materno}} </td>
               {% endif %}
               {% if departamento %}
                 <td> {{ dat.empleado.departamento }} </td>
               {% endif %}
               {% if mes %}
                 {% if dat.fecha.mes == 1 %}
                     <td> Diciembre</td>
                 {% elif dat.fecha.mes == 2 %}
                     <td> Enero</td>
                 {% elif dat.fecha.mes == 3 %}
                     <td> Febrero </td>
                 {% elif dat.fecha.mes == 4 %}
                     <td> Marzo</td>
                 {% elif dat.fecha.mes == 5 %}
                     <td> Abril </td>
                 {% elif dat.fecha.mes == 6 %}
                     <td> Mayo </td>
                 {% elif dat.fecha.mes == 7 %}
                     <td> Junio </td>
                 {% elif dat.fecha.mes == 8 %}
                     <td> Julio </td>
                 {% elif dat.fecha.mes == 9 %}
                     <td> Agosto </td>
                 {% elif dat.fecha.mes == 10 %}
                     <td> Septiembre </td>
                 {% elif dat.fecha.mes == 11 %}
                     <td> Octubre </td>
                 {% elif dat.fecha.mes == 12 %}
                     <td> Noviembre </td>
                 {% else %}
                     <td>NA</td>
                 {% endif %}
               {% endif %}

               {% if anio %}
                 {% if dat.fecha.mes == 1 %}
                 <td> {{ dat.fecha.anio|add:"-1" }} </td>
                 {% else %}
                 <td> {{ dat.fecha.anio }} </td>
                 {% endif %}
               {% endif %}

                {% if dat.estado_id < 3 %}
               {% if evaluador1 %}
                  <td> - </td>
                {% endif %}
                  <td> - </td>
                 {% else %} 
                 {% if calificacionesAreas %}
                   {% for cal in calificacionesAreas %}
                     {% if cal.evaluacion_id == dat.id %}
                       <td> {% if cal.calificacion_evaluador == -1 %}  {% else %} {{ cal.calificacion_evaluador }} {% endif %} </td>
                     {% endif %}
                   {% endfor %}
                  {% endif %} 
                  <td>{{ dat.lider_rating }}</td>
                 {% endif %} 



               {% if evaluadores %}
                 <td>
                   {{ dat.ruta.evaluador.nombre }}
               </td>

               {% endif %}
               {% if comentariosAreas %}
                 <td>  
                   {% for com in comentariosAreas %}
                     {% if com.evaluacion_id == dat.id%}
                         <span> Evaluador: {{ com.comentario_evaluador }} </span>
                     {% endif %}
                   {% endfor %}
                 </td>
               {% endif %}


                 
               
             </tr>
             {% endfor %}
           </tbody>
       </table>
     </div>
     
   </div>
 </div>
    
</div>
         
</div>
    
     <script>
       // Función para exportar las tablas a Excel
       function exportarExcel() {
           // Función interna para copiar y poner verde claro los encabezados de la tabla
           function estilizarTabla(tableId, titulo) {
               var tablaOriginal = document.getElementById(tableId);
               if (!tablaOriginal) return "";
               
               // Se clona la tabla original para no alterar el DOM del panel actual
               var tablaClonada = tablaOriginal.cloneNode(true);
               
               // Se le aplica el color verde claro a todos los encabezados
               // El usuario pidio "buen formato, color verde claro"
               var headers = tablaClonada.querySelectorAll("th");
               headers.forEach(function(th) {
                   th.setAttribute("style", "background-color: #d4edda; color: #155724; font-weight: bold; border: 1px solid #c3e6cb; text-align: center; padding: 5px;");
               });
               
               // Se le agregan bordes sencillos a las celdas para asegurar el formato bonito
               var cells = tablaClonada.querySelectorAll("td");
               cells.forEach(function(td) {
                   td.setAttribute("style", "border: 1px solid #ddd; text-align: center; padding: 5px;");
               });

               // Remover los enlaces <a> para que el nombre u otros datos se exporten como texto plano y no como hipervínculo
               var links = tablaClonada.querySelectorAll('a');
               links.forEach(function(a) {
                   var textNode = document.createTextNode(a.textContent || a.innerText);
                   a.parentNode.replaceChild(textNode, a);
               });

               // Construcción del HTML resultante añadiendo un subtítulo encima de la tabla
               return "<h2>" + titulo + "</h2>" + tablaClonada.outerHTML + "<br><br>";
           }

           // Se obtienen los HTML de ambas tablas (OKR y Áreas de efectividad)
           var htmlCuerpo = estilizarTabla("tablaReporteOKR", "Reporte OKR");
           htmlCuerpo += estilizarTabla("tablaReporteAreas", "Reporte Áreas de Efectividad");

           if(!htmlCuerpo) {
               alert("No hay información de reporte disponible para exportar a Excel.");
               return;
           }

           // Base de datos URI para decirle al navegador que es de tipo Excel
           var uri = 'data:application/vnd.ms-excel;base64,';
           
           // Template estándar de HTML a XLS con el charset UTF-8 para proteger ñ y acentos
           var template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><meta charset="UTF-8"><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body>{table}</body></html>';
           
           var base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) };
           var format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) };

           var ctx = {worksheet: 'Reportes', table: htmlCuerpo};

           // Armado del enlace de descarga temporal
           var link = document.createElement("a");
           link.href = uri + base64(format(template, ctx));
           
           // Se forma la fecha completa para identificar el documento
           var date = new Date();
           var d = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
           link.download = 'Reportes_Completos_' + d + '.xls';
           
           // Y se ejecuta un click virtual del documento para detonar su descarga
           document.body.appendChild(link);
           link.click();
           document.body.removeChild(link);
       }
     </script>
  </body>
</html>
{% endblock %}